[2019-05-30 16:01] crysfel opened #1 "Add CORS support"
We need support for CORS, currently @moshfeu had to create a proxy in order to access the API deployed at api.codingcoach.io

We are going to deploy a development API frontend devs can use in their local environments, so they don't have to install the backend in their local.

I think we should use an environment variable to set the `origin` value, in development we will have `origin=*` but when go

[2019-05-30 16:37] crysfel opened #2 "Add everything to Docker"
It'd be great if we use docker to run the project :)

[2019-05-30 17:07] brentmclark commented on #1
I can grab this one.

[2019-05-30 17:20] moshfeu opened #3 "Add channels to the mentor model"
[code]
minimum: 1
maximum: 3

Each one of them should be validating (as much as we can) following this table:
https://github.com/Coding-Coach/find-a-mentor#channels

[2019-05-30 17:24] moshfeu opened #4 "Return appropriate status code on the request itself"
Right now, the api return always status code 200 and in the response itself, it returns the actual status.

<img width="633" alt="58616674-ef36eb00-82c6-11e9-8411-5397e506f1ca" src="https://user-images.githubusercontent.com/3723951/58650962-bcb5de00-8318-11e9-87c4-eed3ccc6ab55.png">
<img width="492" alt="58616673-ee9e5480-82c6-11e9-8945-f9982691ed95" src="https://user-images.githubusercontent.com/

[2019-05-30 17:29] moshfeu opened #5 "Return consistency payload for all the requests"
The response will be:

[code]

https://github.com/Coding-Coach/find-a-mentor-api/blob/d5a091f9d390701f26ab51f0e5e9bccc1807d126/src/modules/users/users.controller.ts#L51-L54

Actually, I'm not sure about the `success: true`, since we will get the status implicit from the request's status code.

[2019-05-30 17:31] crysfel commented on #4
That might be the local proxy returning 200, this is the response form the api itself, as you can see in the following image there's a 400 status response.

<img width="965" alt="Screen Shot 2019-05-30 at 12 28 19 PM" src="https://user-images.githubusercontent.com/219207/58651338-aa1ab500-82d6-11e9-8cec-71abc2c48dbe.png">

There's this issue #1 that will add support for CORS, so we don't have to r

[2019-05-30 17:39] moshfeu commented on #4
You're right!

[2019-05-30 17:39] #4 closed

[2019-05-30 22:53] crysfel opened #6 "Create endpoint to return all mentors in the platform"
We need to return all mentors in the platform, additionally we need to filter the results based on:

- name
- language
- technology
- country

[2019-05-31 02:57] brentmclark commented on #5
Are you talking about `success:true` versus HTTP status 200?

[2019-05-31 04:50] moshfeu commented on #5
Ya, sorry for the lame phrase

[2019-05-31 04:59] #5 closed

[2019-06-04 03:38] crysfel commented on #6
Closed by https://github.com/Coding-Coach/find-a-mentor-api/pull/7

[2019-06-04 03:38] #6 closed

[2019-06-05 03:06] brentmclark opened #8 "Add example .env file"
There's no example `.env` file, making getting started on this repo a little bit harder.  So, I think we should add one.

[2019-06-05 14:50] #8 closed

[2019-06-05 20:27] moshfeu opened #10 "Add endpoint - register as mentor"

[2019-06-05 20:28] moshfeu opened #11 "Add endpoint - get pending mentors"

[2019-06-05 20:29] moshfeu opened #12 "Add endpoint - approve mentor"

[2019-06-06 16:50] #10 closed

[2019-06-07 01:35] #11 closed

[2019-06-07 05:27] brentmclark commented on #3
I can take this one.

[2019-06-07 05:55] moshfeu commented on #3
thanks

[2019-06-10 15:53] #1 closed

[2019-06-11 16:19] #12 closed

[2019-06-24 15:35] crysfel opened #18 "Create script to add roles to an user"
We need a script to add roles to users in the database, right now there's no way we can set users as an admin manually.

[2019-06-24 18:10] #18 closed

[2019-06-24 20:25] elft3r commented on #2
Hey @crysfel, I can help you with this.

Do you have already any ideas where I should start? If not, then I could start by providing a docker-compose for the local development.

[2019-06-24 21:48] crysfel commented on #2
@elft3r sure! All we need is mongo + node. Ideally we should be able to just do `$ docker-compose up -d` and the environment should be ready for dev.

[2019-06-25 16:21] crysfel opened #20 "Email notifications"
When a new member signs up as a mentor, we need to send an email right after the user submitted the application. Informing them we will review their application shortly.

Once the admin accepts a mentor request, we need to send an email to the new mentor with a confirmation/welcome message.

If the admin rejects the application, we need to send another email notifying the user the application has

[2019-06-26 11:18] davisokoth commented on #20
Could I pick this?

[2019-07-02 03:20] crysfel commented on #20
@davisokoth sure! go ahead! I was thinking on creating an account at mailgun to send emails, also we need to add the user to a list in mailchip.

[2019-07-06 12:51] elft3r commented on #3
@brentmclark can I help you in any way with this?

[2019-07-07 12:17] brentmclark commented on #3
@elft3r thank you for the offer, but I'm almost done already.  I almost put up the PR two weeks ago but got sidetracked with a family vacation.  It'll be done shortly.

[2019-07-07 13:40] moshfeu commented on #3
@elft3r we'll have a lot of tasks here. Stay turned 👍

[2019-07-07 19:11] elft3r commented on #3
@brentmclark cool to hear that. I can't imagine a better way to get sidetracked from a project :-)

@moshfeu thanks for the update. i'm happy to help in any way I can, just let me know what I can do

[2019-07-12 08:24] davisokoth commented on #20
Hey @crysfel am rather held up right now. Feel free to reassign this in case someone else is interested

[2019-07-12 16:23] moshfeu opened #22 "Add the option to reject an application"
Should get

[code]

[2019-07-16 16:49] #2 closed

[2019-07-17 20:55] moshfeu opened #23 "Tags schema"
Currently tags' schema

[code]

But it should be (like currently in the app)
[code]

[2019-07-22 13:36] moshfeu opened #24 "Get mentors for non loggedin users"
Currently, when user is not loggedin, the server returns 401 error.
Expected result will be to return the mentors but without the channels so user will have to do login to contact a mentor.

[2019-07-22 20:21] #24 closed

[2019-07-22 20:39] crysfel commented on #23
The problem is not about the schema, but validating the input when saving.

I will work on this tonight

[2019-07-23 07:45] moshfeu commented on #23
👍

[2019-07-23 18:26] moshfeu commented on #20
Seems like auth0 has this feature.

[2019-07-25 16:44] crysfel opened #26 "Migrate the current mentors to mongo"
We need to create a script to pull the data from `mentors.json` and save to the DB.

Additionally, when a new user registers, we need to find out if this new user is an existing mentor and link the new account to the profile.

[2019-07-25 18:08] moshfeu commented on #20
No they not..

[2019-07-26 19:48] #23 closed

[2019-07-27 19:51] moshfeu commented on #20
I think we should send 2 emails. First, when a mentor sent application to inform that the application received and we review it asap. Second, when we approve him (the email we're sending now).

[2019-07-28 11:35] elft3r commented on #26
@crysfel Did you already do any work on this? I have a script locally which is importing the json file. If you haven't done any work yet, I could clean my script up and create a pull request.

[2019-07-28 17:47] moshfeu commented on #3
@brentmclark Can you update the status please?

[2019-07-29 00:44] brentmclark commented on #3
@moshfeu I have those last two items to tackle from the description.  @crysfel helped me through a few of the issues I was encountering on Friday, which was rad!  I have a few hours tonight to focus on this; should have a PR up tonight if things go well.

[2019-07-29 03:15] brentmclark opened #29 "Remove channels from unauthenticated payload"
Per [this TODO](https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/mentors/mentors.controller.ts#L27) It would appear we need to delete the channels from the mentors payload for unauthenticated users.

Can you confirm that this is accurate @crysfel?

[2019-07-29 15:13] crysfel commented on #29
Yes, we want users to login in order to contact mentors

[2019-07-29 15:15] crysfel commented on #26
No, I was planning on working on this tonight but if you already have something, let's use that!

Please add your script here: https://github.com/Coding-Coach/find-a-mentor-api/tree/master/scripts

Thanks!

[2019-07-29 15:17] #22 closed

[2019-07-29 15:23] crysfel commented on #20
Agreed, we need to send two emails. Also, need to define which email service we are going to use.

[2019-07-29 15:27] #3 closed

[2019-07-29 15:40] brentmclark commented on #20
@crysfel thoughts on Mailgun?  I did some research last night and it seems like a good fit from a billing and usage perspective; it gives 10,000 monthly emails for free.  That said, I've never worked with it before, so I have no idea if it's the correct technical choice.

[2019-07-29 15:49] brentmclark opened #31 "Better error messages for User data"
Right now, if a `User` is updated with anything that fails validation at the DB level, the API returns a 500 with a generic response.  It would be much better if a `400` was returned with a specific error message so it's easier to figure out what went wrong.

[2019-07-29 15:52] crysfel commented on #20
I've used Mailgun before and is very easy to use it.

- They have a REST API that we can use to send emails,
- We can create lists for newsletters and send an email to all members in that list by just calling a REST API
- We can use templates for sending emails and replace name and other useful info
- Nice dashboard with analytics
- They also send that information to your servers so you can create

[2019-07-29 15:53] brentmclark commented on #29
OK Great!  The `TODO` mentions `other private data`; do you have a list of what that is?  Are we talking PII like `country` and `name`?  Or is it just the channels for now?

[2019-07-29 15:55] brentmclark commented on #20
Let's lock in on Mailgun, then.  I'll get started tonight.

[2019-07-29 15:56] crysfel commented on #29
Just the channels for now

[2019-07-29 16:21] D4veCode commented on #31
I would like to take this!

[2019-07-29 16:24] brentmclark commented on #31
@D4veCode it's yours!

[2019-07-29 16:31] brentmclark opened #32 "Mark User fields required at the database"
As of now it's possible to get a user object into the database with invalid data.  To guard against this, the following fields on the `UserSchema` should be marked as required:

- [ ] `auth0Id`
- [ ] `email`
- [ ] `name`
- [ ] `avatar`

Look [here](https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/users/schemas/user.schema.ts#L12) for an example of how to set a field in the

[2019-07-29 18:01] crysfel commented on #31
Thanks @D4veCode! We are already doing validations in other fields, such as validating if is a string, defined and so on.

Please take a look at the response when returning a validation error:

[code]

[2019-07-29 18:15] D4veCode commented on #31
Sure @crysfel! I would take a look at that tonight! Obviously always trying to keep the consistency of the API!

[2019-07-29 18:20] shayanypn commented on #32
For this issue, its just need to mark these fields are `required` ? doesn't need any changes in validation or any other part?

[2019-07-29 19:05] brentmclark commented on #32
@shayanypn that's correct with the exception of `avatar` which is currently decorated as `@IsOptional` in the `dto`.  Perhaps @crysfel or @moshfeu can chime in here and educate us both on how they want to proceed.

Do we want to make `avatar` required now, or leave it as optional?

[2019-07-29 19:08] mkamranhamid commented on #32
Can I take this?

[2019-07-29 19:13] moshfeu commented on #32
IMO, Avatar should be required. Anyway, auth0 are generate a generic one in the registration.

[2019-07-29 19:16] brentmclark commented on #32
@moshfeu sounds good to me.

@shayanypn given that we want to make `avatar` required, there would be an extra task of removing the optional decorate from the `avatar` field in the `dto`.  Were you interested in grabbing this?  Otherwise it looks like @mkamranhamid is willing to grab it.

[2019-07-29 19:36] crysfel commented on #32
yes, let's make the `avatar` required, we are going to need a way to upload avatars, but that's coming later on :)

[2019-07-29 21:01] brentmclark commented on #31
@crysfel is this the standard error payload when the validations on the `dto` fail?  If so, this might be as simple as triggering validation on the nested models.

[2019-07-30 00:37] shayanypn commented on #32
Great. Well I am working on it right now 😊

[2019-07-30 02:30] crysfel commented on #31
Yes, this is the JSON the validation library returns when there are errors, I think we need to make sure to run those validations before trying to save to the database.

[2019-07-30 02:37] crysfel opened #35 "Add pagination to mentor's filtering"
Currently we are returning the whole list of mentors, we need to add pagination to return the results by the given page.

This is where we are getting the list of mentors:
https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/mentors/mentors.controller.ts#L24

[2019-07-30 02:47] brentmclark commented on #31
Ah, I see.  I never created a `ChannelDto` to match the `Channel` interface I created.  As such, there's no spot to add validation decorators.

@D4veCode, the scope of this has shifted a bit; I'm very sorry.  If you're still up for it, I think this become a bit easier, albeit more specific to the `class-validator` library.

[2019-07-30 03:48] #29 closed

[2019-07-30 17:14] brentmclark opened #39 "Add CI"
- Test
- Lint
- Build
- Deploy

[2019-07-30 17:15] #32 closed

[2019-08-01 03:46] brentmclark commented on #20
Mailgun was a hot mess.  Neither the official node.js library nor the unofficial one they reference in their docs are actively supported; and they don't support es6 modules.  I switched to SendGrid and was up-and-running super fast.  Thoughts on switching to SendGrid?

They only support 100 emails per day, down from 10,000 per month, but I seriously doubt we need that many.  However, SendGrid spli

[2019-08-01 04:53] moshfeu commented on #20
🤔

If we'll use SendGrid for only the mentors welcome email and use auth0 for welcoming the regular users (auth0 does have welcoming email, we can't use it for mentors because it's not in the lifecycle of auth0) then 100 will be enough.

[2019-08-01 05:12] moshfeu commented on #20
🤔
I'm not sure 100 per day will be enough because we will send a verification emails to mentees too.

[2019-08-01 12:15] brentmclark commented on #20
@moshfeu are you referring to an email sent out when new they create an account?

[2019-08-01 14:19] moshfeu commented on #20
Not only mentors, but regular users.

[2019-08-01 14:42] crysfel commented on #20
@brentmclark I'm ok switching to `SendGrid`. It's shame Mailgun doesn't support node anymore, the cap I believe is on the free account.

[2019-08-01 15:22] brentmclark commented on #20
@moshfeu

Right.  So would it work if we let `Auth0` send the **"Your account has been created"** emails and use SendGrid for our transactional emails, such as **"Your request to be a mentor has been approved"**?

If we do that I think we can stay safely below the 100/day cap.

Thoughts?

[2019-08-01 15:53] moshfeu commented on #20
As much as I saw, auth0 is not provides emails at all, only for tests. We need to supply to auth0 an email provider so even the "Your account has been created" will be sent via that provider. We can set this provider to be SendGrid.
I also noticed that digital ocean has no smtp server too.

[2019-08-02 00:04] D4veCode commented on #31
Hi guys, I have two questions, first of them is how do you manage branches? It's just for keeping the consistency of the repo. Second one is, what are the Auth0 client and secret that I need to place in my .env file?

[2019-08-02 00:12] brentmclark commented on #20
My apologies; I misunderstood.

Based on our slack conversation I'm going to roll forward with SendGrid and I will ensure I wire in both a "you're account has been created" email as well as a "You're a mentor now" email.

Thanks all!

[2019-08-02 00:13] brentmclark commented on #31
Hey @D4veCode, I can share these credentials with you in a DM.

[2019-08-02 14:50] crysfel commented on #31
@D4veCode all you need is to create an account in auth0, then create two apps in there:

1. A single page application app
2. A machine to machine app

The you can use the keys you get in there ;)

[2019-08-02 14:52] crysfel opened #42 "Add instructions to the README on how to setup auth0"
We need to explain how to setup auth0 :)

[2019-08-05 16:23] crysfel commented on #26
Thanks for contributing

[2019-08-05 16:23] #26 closed

[2019-08-06 17:13] #20 closed

[2019-08-06 19:55] elft3r commented on #42
Hey,
I finally managed to setup auth0 for me locally, using the _Auth0 Management API_. Most likely that is not the best way to do it, however, as this is for development purposes only, I think this is okay for now.

If you are fine with this approach, I can add the instructions to the README.

[2019-08-07 18:46] crysfel commented on #42
Yes, please do it! 🙏 Thank you so much!

[2019-08-07 18:48] crysfel opened #46 "Users can't delete their account"
There's an error while deleting the user from mongo:

[code]

Based on the error all we need to do is fix the casting.

[2019-08-07 21:20] #46 closed

[2019-08-07 21:59] crysfel opened #48 "Send all the user profile for each application"
We want to show to the admin all information related to the user applying to become a mentor, therefore we need to return all user's data when calling `GET /mentors/applications?status=pending`

[2019-08-07 22:00] crysfel opened #49 "Remove all applications when removing an user"
When deleting a user, we need to remove all their applications as well. Right now those records become orphan, this brakes the UI.

[2019-08-08 02:28] #49 closed

[2019-08-08 03:10] #48 closed

[2019-08-08 03:19] crysfel opened #52 "New endpoint to find out the status of the current user's applications"
When user already sent his application and he wants to update his details, the client saves his details and try to create an application (and get an error of course).

This is because the client doesn't know if the current user has an application or not. We need an endpoint to check if this users have an application pending or not.

[2019-08-08 20:33] #52 closed

[2019-08-09 18:40] brentmclark opened #55 "Set up swagger environment"
Currently it's not possible to view the swagger docs without running the BE which comes with its own config requirements and dependencies.  It would be ideal to see the swagger docs on an established environment.

[2019-08-09 18:47] crysfel commented on #55
There are a couple things to do in here:

1. We need to generate the swagger documentation JSON file every time there's a change in the API docs.
2. We need to create a swagger app and read the JSON file from github
3. Deploy the documentation app somewhere accessible by anyone

[2019-08-09 19:01] crysfel opened #56 "Store the favorite mentors for the current user"
We need to store the favorite mentors by the current user, for this we need:

An endpoint to get all favorite mentors for the current user
[code]

An endpoint to like or dislike a mentor. If the mentor is not a favorite, then it will become a favorite mentor. If is already in favorites, the it will be removed from the list.
[code]

[2019-08-15 04:19] #55 closed

[2019-08-15 20:21] janwilmans opened #63 "As a mentor is possible to enter an email address that is too long"
**Describe the bug**
As a mentor is possible to enter an email address is too long (254+ chars)
Also there is an arbitrary limits of 50-100 chars?

**Expected behavior**
RFC5321 specifies an email address can't exceed 254 chars.
However, there is 71-char limit:
jan@abcdeabcdeabcdeabcdeabcdeabcdeabcdeabcdeabcdeabcde0123456789abc.com

reports no client side validation message, only:

![image](https:

[2019-08-15 20:25] brentmclark opened #62 "Use smaller, more focused error response payload."
Right now, any errors surfaced by the validation routines send back a response with a fairly dense payload that makes isolating the error text complicated on the front end.  It also leaks database identifiers, which is not ideal.

Here's an example of a constraint error:

[code]

Eventually, you'll notice the useful portion of the payload: `channels must contain not more than 3 elements`.  The res

[2019-08-16 02:47] crysfel commented on #62
Agreed, the error response is to long, I propose the following response:

[code]

This way we can target specific fields in the form, and we can send multiple validation errors for each field.

[2019-08-16 02:53] crysfel commented on #63
Thanks for reporting the issue...

Now that I think about it, we might not want to allow users to update their email, else we will have to also update the auth0 email.

As a user I'd expect that once updating my email in the app, next time I'd use the new email to login and that's currently not the case, I'm not sure if we can update the email in auth0.

As a solution to this bug, I'd suggest to n

[2019-08-16 03:30] crysfel opened #64 "Create a marketing list in sendgrid for mentors"
### Background
We want to keep all mentors in a marketing list so we can communicate through email easily, so far @moshfeu has been manually adding mentors when approving PRs (mailchimp), however now that we deployed the new version we need to add those emails automatically when approving a mentor application.

### Acceptance Criteria
- [x] Create a list in sendgrid
- [x] Add email to the list whe

[2019-08-18 08:22] moshfeu commented on #63
I agree. For now (unless there will be requests for this) we can remove that field from the form.

[2019-08-18 13:01] moshfeu opened #66 "Reject reason should be appear in the rejection email"
Currently, when user receiving the rejection email he can't know why his application rejected.
Seems like sendGrid has params / placeholders mechanizm  - https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/#send-a-transactional-email

[2019-08-19 13:30] brentmclark commented on #66
It was a deliberate decision to exclude the rejection reason from the email in favor of a softer approach.  We should discuss this further before adding the reason to the email.

[2019-08-19 14:55] moshfeu commented on #66
Understandable, but we if we want to let user to know what he should fix? After all, we're the one we phrase the reason so we can do it soft by ourselves.

[2019-08-19 15:34] crysfel commented on #66
Totally agreed with @moshfeu, The reason could be something like:

[code]

Right now if there's an error we can't ask the user to fix it :(

[2019-08-19 17:06] brentmclark commented on #66
Ah, ok.  This stems from a misunderstanding on my part.  I somehow convinced myself that the `reason` was something from a dropdown, which felt cold and incomplete.

If the reason is free text and contains actionable next steps then I am fully on board with this.

Very sorry for slowing this down.

[2019-08-19 19:50] moshfeu commented on #66
When rejecting an application there is a text field (`prompt` to be exact) so the rejector can explain in free text why.

[2019-08-20 15:07] crysfel commented on #66
The backend is ready for this and currently saving that data, all you need to do is pull the data from the database: https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/common/schemas/application.schema.ts#L9

Then add it to the email before sending it.

[2019-08-20 17:04] #35 closed

[2019-08-21 14:36] crysfel opened #69 "Add a new endpoint to return data for the filters"
## Description
Now that we have pagination in place, we need to provide the filters to the client. We need a *single* endpoint that returns all the data.

[code]

The name filter will have its own endpoint.

We need to make sure all data returned has at least one mentor associated, we are not going to list countries, languages or technologies without any mentor

[2019-08-21 15:49] #66 closed

[2019-08-22 03:20] crysfel opened #73 "Generate slugs for all users"
We need to generate a slug for all users in the database (and all new users), we are going to use it to create links in the FE for their profile pages.

- This task requires to update the user schema and add a new `slug` field, it should be unique and indexed in the database.
- When a new user is created we need to generate a new slug for the new user
- Update all user endpoints to find the user b

[2019-08-22 04:31] #63 closed

[2019-08-22 04:39] crysfel opened #75 "Return the total number of mentors"
Now that we have the pagination in place, we need to return the total amount of mentor that match the given filters, this is needed in the client to find out if there's a need to load more records or not.

The proposed response looks like this:

[code]

[2019-08-22 17:47] #69 closed

[2019-08-23 01:53] #64 closed

[2019-08-25 18:39] levivm opened #78 "Review a mentor or giving "kudos"."
I was thinking of a way for allowing users to review a mentor or giving him some kind of kudo(congrats) for his help.

My suggested flow is:
1. User asks mentor help clicking in an action button.
2. Mentor accepts it.
3. After being accepted, the user at any time could thank the mentor by a review or something like that.

It is just an idea. But, having this we could have a base for a ranking syst

[2019-08-25 19:29] moshfeu commented on #78
Thanks for the idea!
We discussed about a feedback and ranking system almost from the beginning :)
We're keep thinking about that, how exactly it should behave so it will serve both mentors and mentees the best.
Also, as you presented it (and how we thought about that), it requires a connections system between mentors and mentees which is big feature by itself.
What I'm trying to say that it's a v

[2019-08-25 19:55] levivm commented on #78
Hi,

Thanks for the reply.

I know that building a ranking system could take a lot of resources and time, a quick solution could be something like:

1. Mentees click on an action button that says "This mentor helped me" (Of course, using a shorter text)
2. Mentor accepts it.
3. Mentor has a counter showing: How many mentees he has helped out.

Regards
Levi.

[2019-08-25 20:18] moshfeu commented on #78
Thanks again :)
We'll discuss about that and share the community of course.

[2019-08-27 03:45] crysfel opened #79 "Remove email from sendgrid when user deletes account"
We need to delete the user's email from sendgrid, if the user is a mentor we need to delete it from the mentors. All Members should be removed from the newsletter list.

[2019-08-27 03:47] crysfel opened #80 "Remove user from auth0 when account is deleted"
We need to remove the user from auth0 when the users delete their accounts in the platform, right now the user still exist in auth0 😅

[2019-08-30 02:57] brentmclark commented on #31
@D4veCode I am so sorry; I just realized I never answered your question about branches.  Is that still an open question?  Are you blocked by anything else I can help you with?

[2019-08-30 02:58] brentmclark commented on #42
Hey @elft3r, any update on this?

[2019-08-30 03:01] brentmclark commented on #73
@crysfel, how do you feel about *only* using the `slug` instead of maintaining both the `slug` *and* the `_id`?

[2019-08-30 03:04] brentmclark opened #82 "Add and configure Sentry"
**Is your feature request related to a problem? Please describe.**
We currently lack visibility into errors that occur on our site and rely on the goodwill of others to report these errors.  There are tools on the market that will automatically capture errors while providing enhanced workflows for resolving the bugs.  My favorite among these tools is [Sentry.io](https://sentry.io/welcome/); I've b

[2019-08-30 16:27] crysfel commented on #82
I think Sentry is the way to go!

[2019-08-30 16:32] crysfel commented on #73
I'm ok with that, the only thing is we will have to deploy the FE and BE at the same time. That's why I was thinking on supporting both fields, but I don't think this is a big issue.

[2019-08-30 16:59] brentmclark commented on #73
ohhh, right.  Great point.  Then my idea is bad for the short term.  How do you feel about moving to a "slug only" approach *eventually*?  As in, after the FE is no longer using the `_id`?

[2019-09-03 03:40] #39 closed

[2019-09-03 03:42] crysfel commented on #73
Yes, totally. I think it will make our lives easier to maintain a single ID key

[2019-09-03 04:06] #78 closed

[2019-09-11 14:08] moshfeu opened #85 "Send deleted user email when user is deleted by admin"
We want to let the user to know that we deleted them.

https://github.com/Coding-Coach/find-a-mentor-api/blob/1eb4658757d9e1ef82d1a8b3717e4992351bb22b/src/modules/users/users.controller.ts#L171

Something like

[code]

~I'll create the template in SendGrid~
Template Id: `de2e0c5217b6422a88274a6affd327e7`

Relates to: https://github.com/Coding-Coach/find-a-mentor/issues/628

[2019-09-19 00:53] crysfel commented on #56
Closing this issue, as new requirements are coming that invalidate this one

[2019-09-19 00:53] #56 closed

[2019-09-19 00:54] crysfel commented on #31
Hi @D4veCode, I'm wondering if you have any progress on this issue?

[2019-09-19 19:14] D4veCode commented on #31
Hi @crysfel, I've been very busy in my job! I hace started to work with the issue but I haven't finished yet, I hope to finish it by the end of the month! I'm sorry!

[2019-09-25 11:06] MuthomiMate commented on #85
@moshfeu @crysfel I would like to pick this up

[2019-09-25 11:41] moshfeu commented on #85
Go for it, @crysfel, please priorities.
Notice that I added the template_id in the description.

[2019-09-25 13:55] MuthomiMate commented on #85
ok cool Thanks

[2019-09-25 15:41] crysfel commented on #85
@MuthomiMate all yours! I will help you set the project up. In the meantime:

- Open an auth0 account
- Open a sendgrid account

I need to write a document to show you how to setup those too.

[2019-09-25 16:24] #80 closed

[2019-09-25 16:29] crysfel commented on #42
I will take this one :)

[2019-10-01 19:03] #42 closed

[2019-10-03 15:58] #85 closed

[2019-10-03 16:10] crysfel opened #89 "Increase test coverage for MentorsController"
In an effort to increase confidence when updating our codebase, or adding a new feature. We want to increase the test coverage with unit test.

The goal of this issue is to write unit tests for the [MentorsController](https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/mentors/mentors.controller.ts), when writing tests keep the following guidelines in mind:

- We are testing

[2019-10-03 16:11] crysfel commented on #89
@MuthomiMate do you want to take it?

[2019-10-03 16:13] MuthomiMate commented on #89
I will take this @crysfel

[2019-10-03 16:14] crysfel opened #90 "Increase test coverage for UserController"
In an effort to increase confidence when updating our codebase, or adding a new feature. We want to increase the test coverage with unit test.

The goal of this issue is to write unit tests for the [UsersController](https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/users/users.controller.ts), when writing tests keep the following guidelines in mind:

- We are testing each m

[2019-10-04 08:57] MuthomiMate opened #91 "fix the template_id for the user deletion email"
I added my own test template id in this [PR](https://github.com/Coding-Coach/find-a-mentor-api/pull/88) and forgot to change it back to the correct template id that was created here [#85](https://github.com/Coding-Coach/find-a-mentor-api/issues/85)

[2019-10-04 08:57] MuthomiMate commented on #91
@crysfel please go ahead and assign this to me

[2019-10-04 14:36] #91 closed

[2019-10-09 19:34] moshfeu commented on #91
@crysfel is this deployed already?

[2019-10-10 15:44] crysfel commented on #91
@moshfeu yes, it's deployed but only to staging. Once we test it work fine, we should deploy to production

[2019-10-10 16:21] moshfeu commented on #91
Ok. I'll check that soon

[2019-10-14 16:13] #82 closed

[2019-10-14 16:13] #89 closed

[2019-10-21 15:56] #90 closed

[2019-10-21 16:12] crysfel opened #98 "Create mentors lists"
Users can create lists of mentors, for example: QA Mentors, Rockstars Devs, etc..

We need one endpoint to receive the name of the new list, along with the mentors we want to add to the list:

Request:
[code]

Response:
[code]

**Validations**
- `name` should be required
- `public` is optional and defaults to `false`
- `mentors` is optional and defaults to an empty array

**Restrictions**
- Member

[2019-10-21 16:17] crysfel opened #99 "Return all lists with mentors"
We need to return all lists for the current user.

Request:
[code]

Response:
[code]

[2019-10-21 17:44] moshfeu commented on #98
Sounds good.
To save requests (and also it make sense anyway) we can return those lists in the `users/current` endpoint too.

[2019-10-21 18:19] moshfeu commented on #98
For now it could return only the "general" list, the ui will know to handle this

[2019-10-21 18:22] crysfel opened #100 "Add a mentor to an existing list"
We want to allow users to add mentors to any of the available lists. We need an endpoint to update add a new mentor to the existing list.

Request
[code]

Response
[code]

**Restrictions**
- Members can only add their mentors to their own lists
- Admins can add mentors to any list

[2019-10-21 18:34] brentmclark commented on #98
I like the idea of hitting a separate endpoint to get the list of lists as opposed to adding more to the `users/current` endpoint.  It's not the end of the world, of course, but I'm concerned about overloading that initial request.

[2019-10-21 18:56] moshfeu commented on #98
That makes sense too :)

[2019-10-21 21:47] moshfeu opened #101 "Set max length to 400"
https://github.com/Coding-Coach/find-a-mentor-api/blob/3b989c5944974c7c750f6f07aefb6fe5286156be/src/modules/common/dto/application.dto.ts#L22

[2019-10-21 21:52] brentmclark commented on #101
I can grab this if no one else wants it, although it's a great way to +1 your Hacktoberfest count!

[2019-10-21 22:49] moshfeu commented on #101
I've enough t-shirts 😂

[2019-10-22 03:10] crysfel commented on #98
Exactly what I was thinking, but again we can add it later if we see some benefits

[2019-10-22 03:11] crysfel commented on #101
@brentmclark all yours!!

[2019-10-22 12:55] #101 closed

[2019-10-22 12:56] brentmclark commented on #62
I can grab this if it's still needed.

[2019-10-22 16:30] MuthomiMate commented on #99
Hello @crysfel I can see you are working on an issue related to this, Is it possible for me to pick this and use test data as you work on the POST endpoint?

[2019-10-22 19:57] #98 closed

[2019-10-22 19:58] crysfel commented on #99
@MuthomiMate all yours! I just merged my PR for adding new lists, you should be able to do this.

Let me know if you have any question.

[2019-10-22 20:00] crysfel commented on #62
@brentmclark all yours!!

[2019-10-23 07:49] MuthomiMate commented on #99
cool thanks @crysfel

[2019-10-23 18:59] crysfel opened #105 "Update existing list"
We want to allow users to update the `name` and `public` field from existing lists. We need a new endpoint that receives these values, validates and update the records in the database

Request
[code]

Response
[code]

**Restrictions**
- Other users can't update other people's lists
- Admin can update other people's lists
- Users can't update the favorite list, this list should *always* be private.

[2019-10-25 02:51] crysfel opened #106 "Add/Remove a mentor from the favorite list"
We want to allow users to create a list of favorite mentors. We need to create a new endpoint to add or remove a single mentor from this list, and if this list doesn't exist yet, we need to automatically create it.

Request
[code]

Response
[code]

When calling the endpoint, if the user doesn't exist in the list we need to add it, if the user exist in the list we need to remove it.

**Validations*

[2019-10-25 17:04] crysfel opened #108 "Return the favorite list"
We need to create an endpoint to return only the favorite list for the given user.

Request
[code]

**Restrictions**
- This list is always private
- Only current user (or admin) can get the favorite list

[2019-10-28 03:36] #106 closed

[2019-10-31 23:28] moshfeu opened #112 "Request to remove a mentor from favorites add the mentor instead"
Following #106 if a mentor is already in the favorites list, he should be removed.
But, currently, the API is adding the mentor again.

[2019-11-01 01:18] #112 closed

[2019-11-03 03:40] crysfel opened #117 "Delete a mentor list"
We want to allow users to remove the existing lists, we need to create a new endpoint to remove a list from the database.

Request:
[code]

Response:
[code]

**Restrictions**
- Users can remove their own lists only
- Admins can remove other user's lists

[2019-11-07 22:31] moshfeu opened #118 "Allow mentor to set their availability to false"
We want to allow mentors to set their availability, for that we are going to add a new `available` property to the user model.

1. Allow to mentor to set that prop as `true` or `false`. We are going to reuse our existing API to edit the user model.
For new mentor, that prop will be `true` by default.
2. Write (and run) a script that migrate all existing mentors and add this prop as `true`.

Reques

[2019-11-07 22:39] moshfeu opened #119 "Don't show mentor's channels if they not available"
Must be done after #118

Remove the channels from the mentors response for unavailable mentors (this will be reflected also in the UI). Similar to the request when the user is not loggedin.

https://github.com/Coding-Coach/find-a-mentor-api/blob/b88b00d36db7ba50a153cf82c1cafe313df32ebb/src/modules/mentors/mentors.controller.ts#L41

[2019-11-12 06:18] crysfel commented on #118
@moshfeu I've updated this issue, we are going to use the same endpoint we have when updating users, I also added some restrictions

[2019-11-12 06:22] moshfeu commented on #118
Ok

[2019-11-12 14:37] davidkwan95 commented on #117
Hi @crysfel , I would like to try and take on this issue

[2019-11-12 15:55] crysfel commented on #117
@davidkwan95 all yours!! Let me know if you have any question

[2019-11-15 17:52] #105 closed

[2019-11-18 16:18] crysfel opened #122 "Run prettier on every commit"
We want to have code consistency across all our codebase, therefore we need to run prettier before committing any new code.

Add a git hook to run prettier before any new commit

[2019-11-18 16:21] #117 closed

[2019-11-18 18:23] #118 closed

[2019-11-19 02:46] davidkwan95 commented on #122
would love to work on this one if nobody is taking it :)

[2019-11-19 05:15] crysfel commented on #122
@davidkwan95 all yours!

[2019-11-19 23:27] #119 closed

[2019-11-20 18:35] MuthomiMate commented on #100
@crysfel I can work on this

[2019-11-22 05:10] crysfel commented on #100
@MuthomiMate  All yours!!

[2019-11-24 12:33] CalvinNor opened #126 "An API for Info Retrieval - Cache on Mobile Apps, slim down Pagination"
I see that the /mentors API returns a bunch of "filters" which show Countries, Technologies, Languages. This adds significant overhead per request.

I recommend to create an API which returns the entire list. That way, frontend clients and Mobile Applications can cache this and re-use them when parsing Mentors. Something like:

`
{
"countries": [
      {
        "id": "AR",
        "label": "Argen

[2019-11-26 20:38] #122 closed

[2019-11-29 21:05] crysfel commented on #126
The data returned for the filters is changing based on the results, therefore even if we create a new endpoint to get this data, we will have to call it every time we fetch new results.

However... this will most likely change once we design the new search mentors page

[2019-11-30 04:18] CalvinNor commented on #126
Oh, I get it. The filters and countries are a collection of what Mentors themselves have, right? So if you were to only return Android developers, the technology JSON would have just one object.

However a lot of that would be repeated across pages. Would make sense for Mobile apps / frontends to prefetch and cache these. Thanks!

[2020-01-03 12:08] Jolg42 commented on #31
Hi there!

I was curious and tried to fix it, but unfortunately it's impossible to setup the project, there is no seed to populate the database. (There is one but outdated and broken). So if someone could update the contributing documentation that will be awesome for new contributors.

For the solution it looks like you'll need to create an `exceptionFactory` function based on what I see here
http

[2020-01-08 05:47] moshfeu opened #128 "Add endpoint - upload avatar"
PUT - `/users/{id}/avatar`

It should

1. Upload the file to (? @crysfel where the avatars will be hosted)
2. Set the user's avatar to that URL

[2020-01-08 09:52] moshfeu opened #129 "Update UserDTO"
Add

- [ ] timezone
- [ ] available - should be `enum` instead of `boolean`?
- [ ] capacity

I know that we talked about it a lot but maybe we can split the models somehow because mentees have nothing with `capacity` or available. Even of not in the database, at least in the code..

[2020-01-08 19:27] crysfel commented on #128
I'm thinking on setting up an S3 account to save the avatars and images/assets we need.

[2020-01-08 19:29] #100 closed

[2020-01-15 12:47] Rohithgilla12 commented on #129
Hey I want to try this issue!
Can i take it up?

[2020-01-19 05:25] moshfeu commented on #129
@crysfel ?

[2020-01-24 20:31] crysfel commented on #129
@Rohithgilla12 all yours! Thanks!

[2020-01-25 08:29] Rohithgilla12 commented on #129
Thanks I followed [this](https://github.com/Coding-Coach/find-a-mentor-api/blob/master/CONTRIBUTING.md) to setup, what else I need to start working on this.

Thanks, waiting for response

[2020-01-27 16:16] crysfel commented on #129
You should be up and running by following the guide

[2020-01-27 17:39] Rohithgilla12 commented on #129
Yeah I set it up, how do I check the things.
Do I also need to run `find-a-mentor` repository also?

[2020-01-27 17:46] moshfeu commented on #129
No. The client is not using it yet.
You can verify it using postman or any other rest clients.

[2020-01-27 18:27] Rohithgilla12 commented on #129
How do I solve ` "No authorization token was found"` error

[2020-01-27 18:42] Rohithgilla12 commented on #129
It would be great if you can say, how to create a account, get a authorization token and use it.
Thanks.
Sorry to disturb.

[2020-01-27 20:26] crysfel commented on #129
yes, I usually run `find-a-mentor` to get the token and use the local backend, you will have to update the API url here: https://github.com/Coding-Coach/find-a-mentor/blob/master/.env#L1 to point to your localhost server

[2020-01-28 06:37] moshfeu commented on #129
@crysfel, @Rohithgilla12 can take the token from the mentors staging site: https://mentors-staging.codingcoach.io/

[2020-01-28 15:43] crysfel commented on #128
For now I'm going to use the same server that is hosting the node app, just to keep the expenses down :)

[2020-01-28 15:50] moshfeu commented on #128
Sounds good to me

[2020-01-28 16:59] Rohithgilla12 commented on #129
<img width="1440" alt="Screenshot 2020-01-28 at 10 28 03 PM" src="https://user-images.githubusercontent.com/19389850/73286465-95077480-421d-11ea-85ee-0828f7166cd0.png">

[2020-01-28 17:32] Rohithgilla12 commented on #129
Also, after getting access token, how to use that in Postman.
SS would be perfect help.
Once I get started, I will add all these in the contributing document.

[2020-01-28 17:57] moshfeu commented on #129
Apparently, I dropped from the server but it was cache in my browser.
I re-deployed it now, please check.

You should add token in the authorization tab

<img width="1119" alt="Screen Shot 2020-01-28 at 19 56 48" src="https://user-images.githubusercontent.com/3723951/73291166-56b38a80-4208-11ea-9c08-b25ba2c8a972.png">

[2020-01-30 20:25] crysfel opened #132 "Resize avatars on upload"
We need to resize images to the size we need for avatars. For that we are going to use https://github.com/lovell/sharp

AC
- Install `sharp` for resizing images
- Create a thumbnail image from the original
- Set the `avatar` field in user record to the thumbnail image
- Make sure to remove avatars when removing a user
- Make sure to remove thumbnail when updating a new image

[2020-01-30 20:27] #129 closed

[2020-02-04 17:33] #128 closed

[2020-02-04 18:01] #126 closed

[2020-02-13 09:46] Nkemjiks opened #133 "Unable to signup as a mentor because of the avatar validation error"
<img width="791" alt="Screenshot 2020-02-11 at 4 58 44 PM" src="https://user-images.githubusercontent.com/32465536/74421809-e767a880-4e4d-11ea-8bf4-bc9a01b024e2.png">

I got this error when i tried working on adding myself as a mentor. Its currently blocking me from on this [issue](https://github.com/Coding-Coach/find-a-mentor/issues/673).

[2020-02-13 17:21] crysfel commented on #133
Thanks for reporting this problem, I think we don't need to send the avatar field anymore, as this value will get dynamically set by the server when uploading the avatar.

I'm going to update the endpoint to ignore this field and remove the validation. In the meantime, you might want to remove the field from the payload

[2020-03-17 21:49] moshfeu commented on #132
@crysfel , what's the status of this one? It blocks up from deploy this: https://github.com/Coding-Coach/find-a-mentor/pull/675 (I merged it but reverted. I will be happy to deploy it again)

[2020-03-31 04:32] crysfel commented on #133
Fixed by @moshfeu #134

[2020-03-31 04:32] #133 closed

[2020-03-31 08:08] moshfeu opened #138 "Upgrade TypeScript"
Consider.
Or even change fixed version to `^`

[2020-03-31 20:34] crysfel opened #139 "New endpoint to return existing goals"
We want to speed up the process of applying for mentorships by pulling the current goals from the mentee and populate the form application.

We need a new endpoint that returns the current goals for the given user, if there are no goals defined we are going to set a few common goals to pre-fill the application.

Request:
[code]

Response:
[code]

**AC**
- Model the data for goals in mongo
- Read t

[2020-04-01 04:49] crysfel opened #140 "New endpoint to save the application"
## Description
After the mentee fill out the application form, we need to save this data.

Request:
[code]

Payload:
[code]

Response:
[code]

Required fields:
- `message`

AC
- Make sure there are no previous mentorship requests for this mentor and mentee
- Make sure the mentor is available
- Create the new mentorship request, set the status as `new` (Application Status available:  `new`, `viewed

[2020-04-01 04:58] crysfel opened #141 "New endpoint to get all mentorship requests"
## Description
We need a new endpoint to get all existing mentorship applications for a given user, this endpoint will return applications from me and to me, in other words there might be the case where a mentor is also a mentee.

Request:
[code]

Response:
[code]

AC
- Returns all applications for the given user
- Members can only see their own applications requests
- Mentors can see applications

[2020-04-01 05:04] #132 closed

[2020-05-04 19:16] moshfeu opened #143 "Allow to save user details without avatar"
Now, when the avatar saved in a different endpoint, we should allow to call
https://api-staging.codingcoach.io/#/%2Fusers/put_users__id_ without avatar field.

Current behaviour: the avatar is saved as empty (which basically deletes the avatar)

Related to https://github.com/Coding-Coach/find-a-mentor/issues/696

[2020-05-25 21:09] mujz opened #144 "Grammar fixes in the Mentor Application Approved template"
I got the mentor application approval email (template ID: `d-bf78306901e747a7b3f92761b9884f2e`). It's very well written and exciting! Kudos to whoever put it together!

As I tend to be super nit picky, I noticed a few areas that could use improvement in grammar. Here they are:

Should be

Notice the apostrophe between "someone" and "s"

Should be

Notice the apostrophe between "other" and "s"

"me

[2020-11-25 10:58] iamdidev opened #153 "Upgrade jest (>=24.0.0 <25.0.0)"
[code]

It's better to upgrade to the supported version. I can send a PR after #138 on which I am working on now

[2020-11-25 11:00] iamdidev commented on #138
@moshfeu 👋 what version you aiming the latest v3 (3.9.4) or the latest v4 (4.1.2)?

[2020-11-25 11:43] moshfeu commented on #138
Actually it's a very old issue 😅  (Before 4)
I believe the latest which not conflict with the code.

[2020-12-06 11:22] #138 closed

[2020-12-07 15:27] crysfel commented on #153
Sounds good to me! We are resuming the development, you are free to join our weekly meetings if you want, just let me know 👌

[2020-12-08 15:17] dmshvetsov commented on #153
@crysfel cool, how can I join?

[2020-12-14 12:28] crysfel commented on #153
@dmshvetsov ping me on our slack, send me your email and I will send you an invite to our sprint planning :)

[2020-12-18 20:33] #140 closed

[2020-12-23 19:39] crysfel commented on #144
Hi @mujz! Thank you so much for pointing this out. I've updated the template on Sendgrid!

Would be awesome if you can also take a look at the copy on our figma design files for the new features we are working not! Please ping me in slack and I can share the file with you.

Regards

[2020-12-23 19:39] #144 closed

[2020-12-24 16:03] crysfel opened #158 "New endpoint to accept/decline mentorship request"
## Background
We need a new endpoint to allow mentors to accept or decline a mentorship request. This endpoint will change the status of the request by the mentor or even the mentee.

As a mentor, I'd like to accept or decline a mentorship request. This endpoint should receive the status based on what the mentor selected. If the selection is `declined` the UI encourages the mentor to explain why t

[2020-12-24 16:06] crysfel commented on #62
Let's leave it as it is for now

[2020-12-24 16:06] #62 closed

[2020-12-24 16:08] #31 closed

[2020-12-29 18:15] crysfel commented on #141
I've updated the response to add a few missing fields:

[code]

[2020-12-30 13:09] Mooli88 commented on #141
@crysfel The endpoint got a spelling mistake.
`GET /mentorhips/${mentor.id}/requests`
**mentorhips** to  **mentorships**

[2020-12-30 15:50] Mooli88 commented on #141
@crysfel @mia01 I think we need to add status "Pending"
https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/mentorships/interfaces/mentorship.interface.ts#L3

[2020-12-30 16:02] crysfel commented on #141
There's no need, we are going to show Pending when the status is `New`, then it will go to `View` when the user mentor views the request, then to `accepted` or `declined`.

Or, we can even just show `New` in the UI, and don't use `Pending` at all 🤔

[2020-12-30 19:30] Mooli88 commented on #141
I thought you might say that. What's the reason for those extra steps (mapping New to Pending, Rejected to Decliend)?
In my opinion, New and Pending should be separated statuses both for saving the UI extra (and somewhat confusing) step of mapping the values and also to actually distinguished between New and Pending.
So like unread email, once Mantor clicked on the request to read the message it w

[2021-01-04 05:48] crysfel commented on #141
Yeah, `Pending` is confusing, we don't even have a pending status in the database, the idea is something like this:

*Happy path*
1. `New` the mentor hasn't seen the request
1. `Viewed` The mentor has seen the request, but haven't accepted nor rejected it.
1. `Accepted` The mentor accepted the request

*Declined*
1. `New`
1. `Viewed`
1. `Rejected` The mentor declined the request, the UI should sho

[2021-01-04 05:50] crysfel commented on #141
To avoid the mapping on the UI, we can definitely change the labels in the server, we are not live yet so now is a good time to decide the names. Let's discuss this tomorrow in our bi-weekly call.

[2021-01-04 16:56] Mooli88 commented on #141
Personally, I don't have a strong opinion about the labels naming.
I think you or/and @moshfeu should just make the call about it.

New, Accepted and Declined make sense to me.

[2021-01-04 17:05] Mooli88 commented on #141
@crysfel Should I use the same endpoint to get all mentorship request for a mentee?
`GET /mentorships/${mentee.id}/requests` ?

[2021-01-04 18:46] crysfel commented on #141
Yes, same endpoint! The user object will be the mentor's info for that case.

[2021-01-06 17:58] crysfel commented on #141
@Mooli88 I've updated the response, instead of returning a single user we are going to return the mentor and the mentee and let the client decide which user render on the widget based on `isMine`

[2021-01-06 21:30] Mooli88 commented on #141
wouldn't it be simpler for the server to check the `isMine` and send the correct user?

[2021-01-06 21:42] moshfeu commented on #141
Actually we can save a request and feed both the cards (my mentors and my mentees) with the request. In the future I mean.

[2021-01-06 22:13] crysfel commented on #141
@Mooli88 there's an edge case when an admin calls this endpoint, which user should we return? The mentor, the mentee? We don't have a UI for this scenario at this point, but I think this endpoint should be ready to handle this case.

[2021-01-10 13:20] mia01 commented on #141
ok so we are decided on the following @crysfel ?
[code]

I can update this in the current PR #165

[2021-01-11 15:56] crysfel commented on #141
Done!

[2021-01-11 15:56] #141 closed

[2021-01-14 16:32] crysfel opened #175 "Add missing swagger to to mentorship requests endpoint"
We need to add `@ApiBearerAuth()` to the mentorships requests endpoint. The current implementation is missing this tag and the swagger documentation is misleading.

*AC*
- Add `@ApiBearerAuth()` after https://github.com/Coding-Coach/find-a-mentor-api/blob/master/src/modules/mentorships/mentorships.controller.ts#L99
- Make sure the swagger json file gets updated

[2021-01-15 21:39] crysfel opened #176 "Hide channels for all mentors in search page"
We want to hide the channels for all mentors, this information will now be private and is going to be shown only to the mentees that the mentor accepts on requests.

The idea is to show the channels only to people the mentor has accepted as mentees.

Endpoint to update:
[code]

Expected response for all users that are not my mentors
[code]

Expected response for MY mentors
[code]

[2021-01-18 08:50] Damilare1 opened #178 "Bump docker node version from 8-alpine due to compatibility issues"
[code]

The sharp module is incompatible with the current node version in the Dockerfile.

[2021-01-19 20:12] #158 closed

[2021-01-19 20:15] crysfel commented on #178
Hi @Damilare1! would you like to create a PR for this?

[2021-01-19 20:58] crysfel commented on #175
Done as part of #180

[2021-01-19 20:58] #175 closed

[2021-01-19 21:02] Damilare1 commented on #178
Hi @crysfel I already did in #179. For some reason, I can't link the PR to this issue.

[2021-01-20 05:59] brentmclark commented on #176
@crysfel is anyone working on this yet?  If not I'm happy to dive in.

[2021-01-20 16:14] crysfel commented on #176
All yours @brentmclark! We now have e2e tests working correctly! Please make sure to include an e2e test for the code you write. You can write a unit test if you want, but I think we don't really need them anymore.

[2021-01-20 16:16] crysfel commented on #178
#179 has been merged, thanks!

[2021-01-20 16:16] #178 closed

[2021-01-31 17:52] moshfeu opened #182 "Add 'isAvailable' to mentors' filter"
Currently the API returns also the unavailable mentors. In most of the cases it useless because mentees looking for an available mentor.
Having said that, maybe the user would want to search for someone who is not available anymore by some reason, we can let them to do this.

Reference:
https://github.com/Coding-Coach/find-a-mentor-api//blob/c62d174ec69a7b36ed9128757b6c33a1625eca44/src/modules/com

[2021-02-01 14:19] moshfeu commented on #176
@brentmclark, any updates here?
Thanks!

[2021-02-02 14:31] brentmclark commented on #176
Hey @moshfeu!

This is getting close to done.  I have the channels hidden by default now, and am about half done with making the channels visible for the mentors of the current user.

Currently stuck getting services injected into other services so I can leverage existing queries.  If that stays blocked for too long I'll concede and find another approach.

[2021-02-12 16:03] brentmclark opened #185 "Stronger Type Safety for Auth0Id"
While creating PR #184 a concern arose wherein the type applied to the `auth0Id` value in a few places was a `string` which also happens to accept `null` and `undefined` as valid values.

The suggestion at the time was to manually coalesce falsey values to `''` using something like this:

[code]

Which this will certainly work, I don't believe it's not an ideal habit for us to establish.  More spe

[2021-02-12 16:36] #182 closed

[2021-02-18 21:18] #176 closed

[2021-03-02 09:58] moshfeu opened #187 "Mentorship requested email: Point "review" button to the mentorships page"
Currently it points the mentors homepage.

It should point to `https://mentors.codingcoach.io/me/requests`

[2021-03-02 18:18] moshfeu opened #188 "mentorships//requests returns 500 when the mentee delete their account"
When a user submit a mentorship request and them delete their account,
the mentorships/[userID]/requests returns 500.

Probably because it tries to retrieve the user.

[2021-03-04 16:42] #188 closed

[2021-06-03 20:09] #187 closed

[2021-06-03 20:12] moshfeu opened #198 "Include email text version"
Currently we send only html version so it's hard to read it in plain text clients.

The easy fix it to stripe the html tags and pass it as `text` prop to SendGrid API

https://github.com/Coding-Coach/find-a-mentor-api/blob/51c5b0d9e887861c9635c087e7dac0887d966f12/src/modules/email/email.service.ts#L52-L57

[2021-06-24 22:11] brentmclark opened #200 "Allow mentorship requests to be updated"
Allow all fields, not just reason and status, to be altered.

[2021-06-30 05:43] moshfeu opened #201 "Mentorship cancellation"
Currently, it's possible to cancel mentorship by changing request status to "cancel".

1. Need to make sure it's not possible to change from cancelled to anything else (as well as other transitions e.g. new -> declined).
2. Send an email to the mentor to let them know including the reason.

[2021-07-03 20:52] #201 closed

[2021-07-04 07:32] Clancey opened #203 "Emails from Coding-Coach are formatted improperly"
It renders properly in Chrome/gmail.

However when I view the email in Spark on Mac, it looks like the following:
<img width="1036" alt="Screen Shot 2021-07-01 at 8 07 36 PM" src="https://user-images.githubusercontent.com/256046/124346091-53ed5f80-db89-11eb-9384-c2b6801dd15f.png">

[2021-07-09 22:15] moshfeu commented on #203
Hi, I didn't forget this issue but I'm working on some other features.
If someone can work on it, that will be great. If it becomes urgent and should get more priority, let me know.

[2021-07-18 16:25] moshfeu opened #206 "Limit to 5 pending mentorship requests"
Currently, there are mentees who send  many requests (up to ~20) and many approved (up to ~9).

We should limit requests up to 5 pending / open at a time to avoid mentors who approved the mentorship but the mentee never reached out back because the mentee already has some mentors.

The feature has 2 parts:

- When sending a request, returns how many more requests the mentee can send (2, 1 or 0)
-

[2021-07-20 03:25] brentmclark commented on #200
Closing this for now.  Updating messages fields might warrant sending new emails; I don't think this is a high-value feature at this time.

[2021-07-20 03:25] #200 closed

[2021-07-30 07:18] moshfeu opened #211 "Ask mentee to cancel other requests when a request approved"
When a mentor approves a request we send an email to the mentee to inform them.

The task:
This email should contains a request to cancel other requests.
The content is:

"By the way, we see that you have {number} open requests. Please cancel them to let the mentors to know you've already found a mentor"

[2021-08-05 07:39] moshfeu opened #215 "Use `ejs` to render emails"
Using [ejs](https://ejs.co/) would allow us make the templates more sophisticated. For instance to render a whole section based on a condition etc.

From now on `ejs.render` replaces `injectData` - https://github.com/Coding-Coach/find-a-mentor-api/blob/8375917a16ab5670b65bcce5f80da063e2976fbb/src/modules/email/email.service.ts#L50

[2021-08-08 11:43] Lightjohn opened #217 "Mentor can view mentee mail after approving mentorship"
Hi,

I just met the case where I was willing to accept a mentorship but still wanted to give some answers to mentee.

After approving mentorship the mail is not available anymore so in that case I can't contact the mentee until he contact me first which was possible before approving.

Would it be possible to keep an easy way to contact mentee from the mentorships section of the website?

[2021-08-10 09:37] FraDiBen commented on #206
Hi @moshfeu ,
I'd like to work on this enhancement as a way to practice Typescript and contribute to the project :)

I've started exploring the API and the issue, here some of findings:

#### What I did

As per my understanding the enhancement should be done for the endpoint

[<:mentorId>/apply](https://github.com/Coding-Coach/find-a-mentor-api/blob/3d2878f5b66c3b6e14828891250a52407c84e3cd/src/mod

[2021-08-14 20:15] moshfeu commented on #206
Hi, sorry for the late respond.
Thank your for taking the time on exploring this task, much appreciated and good job 😀

The closest one is [`findMentorshipsByUser`](https://github.com/Coding-Coach/find-a-mentor-api//blob/8375917a16ab5670b65bcce5f80da063e2976fbb/src/modules/mentorships/mentorships.service.ts#L72) but it does more work than we need (populate mentor / mentees) so your approach looks

[2021-08-15 13:50] FraDiBen commented on #206
Hi @moshfeu,

thank you for the answers to the questions, happy to know I've grasped the gist of the change. I'll open in the next days a draft PR so that review can start.

Just one little clarification over:

The `yes` means : that pending / open mentorship are the ones in the `NEW` _and_ `VIEWED` status?

[2021-08-15 15:12] moshfeu commented on #206
Sorry. "Viewed" considered as "New" so if a mentee has 5 viewed request, (s)he can't send more requests.

[2021-08-19 17:53] moshfeu commented on #217
Sorry for the late response.
Yes, we'll implement it asap

[2021-08-21 15:09] moshfeu opened #221 "Allow responding to mentorship request directly from the email"

[2021-08-21 17:58] #215 closed

[2021-08-22 11:20] FraDiBen commented on #206
Un-assigning this request to me as I'm having some difficulties to run e2e tests and issue like (https://github.com/Coding-Coach/find-a-mentor-api/issues/211) overlap with some of the work

[2021-08-22 19:38] #211 closed

[2021-08-23 06:01] moshfeu opened #225 "Decline open requests when a mentor becomes unavailable"
When a mentor becomes unavailable ~by them or~ by admin, decline all their open requests with the message: "I'm not available to take mentees anymore".
This action will notify the requester to apply other mentors.

[2021-09-01 17:19] moshfeu commented on #203
Sorry for the very late response.
I've just checked but the issues is not presented in my Spark client (I downloaded especially for this check 😅)
Maybe we fixed that by accident since then. Can you verify please?

![Screen Shot 2021-09-01 at 20 13 19](https://user-images.githubusercontent.com/3723951/131714885-de496924-44d5-475b-ac4b-19c6446a79a0.png)

**Spark** 2.10.5.791
**Mac** Catalina 10.15.7

[2021-09-01 18:09] moshfeu opened #228 "Include "background" and "expectations" in mentorship requested email"

[2021-09-01 18:11] #228 closed

[2021-09-23 20:56] moshfeu opened #233 "Add email verification validation"
Currently we don't check whether the email / account is verified so we treat unverified like they  verified.
We should check that and make the whole flow works

- Users shouldn't be able to access authenticated features and methods until they verified. Every blocked api should respond with status 403 or 405 (we should decide)
- Users should be able to request to resend a verification email.

Resou

[2021-10-09 19:13] moshfeu opened #236 "Include num of mentors who approved a request"
Currently, we are not telling to mentor if the request already approved by other mentors. When a request approved by other mentor, mentees intent to not respond to later approvals.

Since we want to be as transparent as possible, it's could help to mentors to know that the mentee already approved so if they approve them too and are don't hear from the mentee, they will know why.

[2021-10-18 16:30] moshfeu commented on #206
All yours

[2021-10-21 21:06] moshfeu opened #237 "Mentorship decline email says the mentor has provided a reason even if they don't"
When mentors decline a request they allowed to not specify the reason.

**The issue**

Currently, even if they didn't leave a reason, the email says

**The solution**

Don't include the following part if the `reason` is empty

https://github.com/Coding-Coach/find-a-mentor-api/blob/4a68ae93fe7e723cab3ca1b342556a868224bc7e/content/email_templates/mentorship-declined.html#L29-L35

[2021-11-01 21:01] #225 closed

[2021-11-20 23:07] #206 closed

[2021-12-07 07:17] moshfeu opened #243 "Send request reminder [automation tasks]"
The logic:
1. Get mentorship requests created 7 days ago
2. Group by mentee
3. For each mentee, check if any requests was approved
    - ? Check if other requests from 8-10 days ago was approved
 4. Send reminder email
 5. Set the request `reminderSentAt` to now

[2022-03-28 06:27] moshfeu commented on #73
I believe that with nextjs so the server is not responsible on serving the FE, this task is no longer relevant.
If any, it's on the FE side but I'm not sure how important it is - we didn't get any request about it.

[2022-06-04 14:00] analistacarlosh commented on #237
Hey @moshfeu, @crysfel
Can I contribute to this item?

[2022-06-08 19:07] moshfeu commented on #237
Sure! Thank you

[2022-07-02 11:36] analistacarlosh commented on #243
Hey @moshfeu,
Can I contribute to this?